/* Home page */

* {
    font-family: 'Raleway';
    margin:0;
    padding:0;
    /* transition: all .2s ease-in-out; */
}

html {
    scroll-behavior: smooth;
}

.navColor {
    background-color: #1f1f1f00;
    box-shadow:none;
    
}





/* nav bar */

.nav {
    position:fixed;
    width:100vw;
    z-index: 2;
    font-size:1.2rem;
    color:white;
    font-weight:300;
    padding:2rem; 
    z-index:200;
}

#nav {background-color: none;}

.menuItems {
    font-size:1.2rem;
     padding:2rem;
     /* background-color: #3c3c3c00; */
}

.btn  {
 background-color:#F3A530;;
}

.scrollsection {
    position:relative;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width:100vw; 
    margin-top:10rem;
    color:white;
}


.scrollbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.scrollbox h5 {
    color:white;
}


/* about us slide */

.aboutus {
    width:100vw;
     height: 100vh; 
     position:fixed;
    top:0; 
    z-index:4; 
    margin-left:-200rem;
    transition: all 200ms ease-in-out;
}

.aboutusCont {
    float:left; 
    width:30%; 
    height: 100vh;
    background-color:#434831;  
    padding:2rem; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    padding:10rem 2rem 0rem 2rem;
    
}

.aboutustxt {
    color:#DAFF40; 
    font-size:1.2rem;
     margin-top:10rem;
     text-align: center;
}

.aboutusEmpty {
    flex:5; 
    height: 100vh; 
     padding:2rem;
   
}



/* Main page section div */


.sec {
    width:100vw;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top:0;
}

/* individual styling for page section div */

#section1 {
    background-image: url('../images/home_bg.png');
    position: relative;
    top:0;
    width: 100vw;
}

#section2  {
    background-image: url('../images/bg2.jpg');
    background-attachment:scroll;
    background-size: cover;
    height:80vh;
    width: 100vw;

}

#section3  {
    /* background-color:#3c3c3c; */
    /* background-image: url('../images/TFyi0QOx08c.jpg'); */
    background-attachment:scroll;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    overflow: hidden;
}

#section3:-webkit-scrollbar {
    display: none;
}


#section4  {
    background-image: url('../images/bg3.png');
    background-attachment:scroll;
    background-attachment:fixed ; 
    background-size: cover;
    width: 100vw;
    height: 150vh;
}

.home_bg {
    background-image: url(../images/home_bg.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100vh;
    width: 100vw;
}


.bigtxt {
    font-weight:bold;
    color:white;
}

.secTitle {
    color:#75704B;
    font-family: 'Raleway';
    font-size:3rem;
    /* margin-bottom:5rem; */
    font-weight:700;
    margin: 20rem 0rem 0rem 20rem;
    
}


/* post/news  - SECTION */

.post {
    position:relative;
    width:20rem;
    display:flex;
    flex-direction:column;
    margin:2rem;
    flex:1;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
}

.post:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

.deleteBtn {
    position:absolute; 
    width:3rem; 
    z-index:2;
    right:1rem;
    top:2rem;
}

.desp {
    background-color:#A8B66E; 
    color:white;
    width: 25rem;
    padding:2rem;
}

.title {
    font-family: 'Raleway';
    font-weight:700;
}

.readmoreBtn {
    font-family: 'Raleway Bold';
    text-align: right;
    color: #75704B;
    
}


.sliderCont{
    overflow-x: scroll;

    display: flex; 
    flex-direction: row; 
     
     padding:3rem;
}


    
.sliderCont:-webkit-scrollbar {
    display: none;
}


.hoverable{
    margin: 20px;
    width: 500px;
}



/* What we do - SECTION */

.badgebox {
    padding:1rem;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.badgesCont {
    width:50%;
}

.badge {
    flex:1; 
    padding:3rem;
    background-color:#342624; 
    border-radius:100px;
}



.badgebox h6 {
    font-size: 1.5rem;
    color:white;
    font-weight:600;
    text-align: center;
    margin:2rem;
}



.collapsible-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:1.5rem;
    font-weight:700;
    color:#F3A530;
}

.collapsible-header  i > img {
    right:10rem;
}

.collapsible-body {
    text-align: center;
}

/* Services */

.collapsible-body {
    background-color: white;
}

.collapsible-header {
    background-color:#A8B66E; 
}



#loginBtn:hover {
    transform:scale(1.1);
}